.ps-sidebar-container.css-dip3t8 {
  background-color: white;
}
.ps-menu-icon.css-wx7wi4 {
  width: unset;
  min-width: unset;
}
span > .css-honxw6 {
  width: 7px;
  height: 7px;
}
span > .css-jn69v9 {
  width: 7px;
  height: 7px;
}
